# m h  dom mon dow   command
0 0 * * * cd ~/mnpy/mnpy/; sh run.sh
5 0 * * * cd ~/mnpy/mnpy/; python -c 'import notify as n; n.task()'
0 6 * * * cd ~/mnpy/mnpy/; sh run.sh
5 6 * * * cd ~/mnpy/mnpy/; python -c 'import notify as n; n.task()'
